html{
    box-sizing: border-box;
    font-size: 60.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.img-fondo{
background-image: url(C:\Users\domin\Downloads\tiendaonline\tiendaonline\img\tienda.jpg);
}
img{
    width: 100%;
}
.velo-negro{
    background-color:rgba(0, 0, 0, 0.5);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
}

.logo-img{
    max-width: 40rem;
    margin: 3rem 0;
}

nav{
    margin: 3rem 0 8rem 0;
    background-color: rgba(255, 55, 55, 0.768);
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
a{
    text-decoration: none;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}
nav a:hover{
    color: black;
}

.nuestros-productos{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.producto{
    background-color: rgba(255, 55, 55, 0.768);;
    margin: 2rem;
    padding: 2rem;
}

.producto-blanco{
    background-color: white;
    height: 40rem;
    object-fit: contain;
    padding: 1rem;
}

.producto-descripcion,
.producto-precio,
.producto-nombre{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.producto-precio{
    font-size: 2.5rem;
    font-weight: 500;
}
.producto-nombre{
    font-size: 3rem;
    font-weight: 800;
}
.producto-descripcion{
    font-size: 2.5rem;
    font-weight: 500;
}

.footer{
    background-color: black;
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.inicio{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10rem;
margin-bottom: 20rem;

}
.inicio-texto{
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.inicio-img{
    background-color: white;
    border-radius: 5%;
}
.inicio-mapa{
    background-color: white;
    border-radius: 5%;
}

.bloques{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20rem;
}

.bloques img{
    width: 20rem;
    margin-bottom: 2rem;
    height: 20rem;
}
.bloque-titulo{
    margin:0;
}

.bloque{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
}
.bloque-titulo{
    color: red;
    font-size: 4rem;
    margin: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

.enlace-footer:hover{
    padding-left: 1rem;
    padding-right: 1rem;
}

.form{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background: rgba(15, 50, 72, 0.3);
    border-radius: 5px;
}
.titulo{
    color: white;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    border-left: 10px solid rgba(255, 55, 55, 0.768);
    border-left: 10px solid ;
    transition: all .5s ease;
}
.cajas:hover, .cajas:focus{
    border-left: 10px solid rgba(255, 55, 55, 0.768);
}

.termino1{
    text-align: center;
    color: #3b3b3b;
    font-family: Arial, Helvetica, sans-serif;
}

.termino2{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.termino2:hover{
    color: #dbdbdb;
}

.btn{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background: rgba(255, 55, 55, 0.768);
    color: white;
    cursor: pointer;
    transition: all .5s ease;
}

.btn:hover{
    background: rgba(0, 0, 0, 0.5);
}

.tengo-cuenta{
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.tengo-cuenta:hover{
    color: #dbdbdb;
}
